In [3]:
import pandas as pd

In [4]:
metadata_df = pd.read_csv("metadata.csv")
metadata_df

,type,start_time,ambient_temperature,battery_id,test_id,uid,filename,Capacity,Re,Rct
0,discharge,[2010. 7. 21. 15. 0. ...,4,B0047,0,1,00001.csv,1.6743047446975208,NaN,NaN
1,impedance,[2010. 7. 21. 16. 53. ...,24,B0047,1,2,00002.csv,NaN,0.05605783343888099,0.20097016584458333
2,charge,[2010. 7. 21. 17. 25. ...,4,B0047,2,3,00003.csv,NaN,NaN,NaN
3,impedance,[2010 7 21 20 31 5],24,B0047,3,4,00004.csv,NaN,0.05319185850921101,0.16473399914864734
4,discharge,[2.0100e+03 7.0000e+00 2.1000e+01 2.1000e+01 2...,4,B0047,4,5,00005.csv,1.5243662105099023,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7560,impedance,[2010. 9. 30. 7. 36. ...,24,B0055,247,7561,07561.csv,NaN,0.0968087979207628,0.15489738203707232
7561,discharge,[2010. 9. 30. 8. 8. ...,4,B0055,248,7562,07562.csv,1.0201379996149256,NaN,NaN
7562,charge,[2010. 9. 30. 8. 48. 54.25],4,B0055,249,7563,07563.csv,NaN,NaN,NaN
7563,discharge,[2010. 9. 30. 11. 50. ...,4,B0055,250,7564,07564.csv,0.9907591663373165,NaN,NaN
7564,charge,[2010. 9. 30. 12. 31. ...,4,B0055,251,7565,07565.csv,NaN,NaN,NaN

In [23]:
file_name = metadata_df.loc[metadata_df['type']=='discharge',"filename"].values[0]
file_data = pd.read_csv("data/"+file_name)
file_data = pd.DataFrame(columns=file_data.columns.values)
file_data = file_data.reindex(columns = file_data.columns.tolist() + ['battery_id'])
file_data

Empty DataFrame
Columns: [Voltage_measured, Current_measured, Temperature_measured, Current_load, Voltage_load, Time, battery_id]
Index: []

In [31]:
file_name = metadata_df.loc[metadata_df['type']=='discharge',"filename"].values[0]
file_data = pd.read_csv("data/"+file_name)
file_data = file_data.reindex(columns = file_data.columns.tolist() + ['battery_id'])
file_data.to_csv("discharge.csv",mode='a')
for id, rows in metadata_df.iterrows():
    if(rows["type"]=="discharge"):
        file_data = pd.read_csv("data/"+rows["filename"])
        file_data["battery_id"] = rows["battery_id"]
        file_data = file_data.rename(columns=file_data.iloc[0]).drop(file_data.index[0])
        file_data.to_csv("discharge.csv",mode='a')

In [32]:
#CSV for charge 
file_name = metadata_df.loc[metadata_df['type']=='charge',"filename"].values[0]
file_data = pd.read_csv("data/"+file_name)
file_data = file_data.reindex(columns = file_data.columns.tolist() + ['battery_id'])
file_data.to_csv("charge.csv",mode='a')
for id, rows in metadata_df.iterrows():
    if(rows["type"]=="charge"):
        file_data = pd.read_csv("data/"+rows["filename"])
        file_data["battery_id"] = rows["battery_id"]
        file_data = file_data.rename(columns=file_data.iloc[0]).drop(file_data.index[0])
        file_data.to_csv("charge.csv",mode='a')

In [33]:
file_name = metadata_df.loc[metadata_df['type']=='impedance',"filename"].values[0]
file_data = pd.read_csv("data/"+file_name)
file_data = file_data.reindex(columns = file_data.columns.tolist() + ['battery_id'])
file_data.to_csv("impedance.csv",mode='a')
for id, rows in metadata_df.iterrows():
    if(rows["type"]=="impedance"):
        file_data = pd.read_csv("data/"+rows["filename"])
        file_data["battery_id"] = rows["battery_id"]
        file_data = file_data.rename(columns=file_data.iloc[0]).drop(file_data.index[0])
        file_data.to_csv("impedance.csv",mode='a')